In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/vinay-sunny/House Price Regression Tecnique/sample_submission.csv
/kaggle/input/vinay-sunny/House Price Regression Tecnique/data_description.txt
/kaggle/input/vinay-sunny/House Price Regression Tecnique/train.csv
/kaggle/input/vinay-sunny/House Price Regression Tecnique/Project On House Price data .ipynb
/kaggle/input/vinay-sunny/House Price Regression Tecnique/test.csv

In [2]:
# fat
# imputation of high count of values to the nan values 
df=pd.read_csv('../input/vinay-sunny/House Price Regression Tecnique/train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [3]:
df.head(5)

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [4]:
def impute_nan(df,variable):
    most_frequent_category=df[variable].value_counts().index[0]
    df[variable].fillna(most_frequent_category,inplace=True)

In [5]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_nan(df,feature)

In [6]:
df.isnull().sum()

BsmtQual       0
FireplaceQu    0
GarageType     0
SalePrice      0
dtype: int64

# # ##advantage 
# 1.easy to implement 
# 2.fast 
# # ##disadvantages 
# 1.since we are using more frequent labels it may use them in an over represented way if they are many nan's 
# 2.it distorts the relationship of the most frequent label

In [7]:
# 2.0 tech (adding a variable to capture nan)
df1=pd.read_csv('../input/vinay-sunny/House Price Regression Tecnique/train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [8]:
df1.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [9]:
df1['BsmtQual_var']=np.where(df1['BsmtQual'].isnull(),1,0)
df1['FireplaceQu_var']=np.where(df1['FireplaceQu'].isnull(),1,0)

In [10]:
df1.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var  FireplaceQu_var
0       Gd         NaN     Attchd     208500             0                1
1       Gd          TA     Attchd     181500             0                0
2       Gd          TA     Attchd     223500             0                0
3       TA          Gd     Detchd     140000             0                0
4       Gd          TA     Attchd     250000             0                0

In [11]:
frequent=df1['BsmtQual'].mode()[0]

In [12]:
df1['BsmtQual'].fillna(frequent,inplace=True)

In [13]:
df1.head(10)

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var  FireplaceQu_var
0       Gd         NaN     Attchd     208500             0                1
1       Gd          TA     Attchd     181500             0                0
2       Gd          TA     Attchd     223500             0                0
3       TA          Gd     Detchd     140000             0                0
4       Gd          TA     Attchd     250000             0                0
5       Gd         NaN     Attchd     143000             0                1
6       Ex          Gd     Attchd     307000             0                0
7       Gd          TA     Attchd     200000             0                0
8       TA          TA     Detchd     129900             0                0
9       TA          TA     Attchd     118000             0                0

In [14]:
a=df1['FireplaceQu'].mode()[0]

In [15]:
df1['FireplaceQu'].fillna(a,inplace=True)

In [16]:
b=df1['GarageType'].mode()[0]

In [17]:
df1['GarageType_var']=np.where(df1['GarageType'].isnull(),1,0)

In [18]:
df1['GarageType'].fillna(b,inplace=True)

In [19]:
df1.head(10)

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_var,FireplaceQu_var,GarageType_var
0,Gd,Gd,Attchd,208500,0,1,0
1,Gd,TA,Attchd,181500,0,0,0
2,Gd,TA,Attchd,223500,0,0,0
3,TA,Gd,Detchd,140000,0,0,0
4,Gd,TA,Attchd,250000,0,0,0
5,Gd,Gd,Attchd,143000,0,1,0
6,Ex,Gd,Attchd,307000,0,0,0
7,Gd,TA,Attchd,200000,0,0,0
8,TA,TA,Detchd,129900,0,0,0
9,TA,TA,Attchd,118000,0,0,0

In [20]:
(df1['GarageType_var']==1).sum()

81

In [21]:
# suppose if you have more frequent categories, we just replace nan with a new category

In [22]:
ana=pd.read_csv('../input/vinay-sunny/House Price Regression Tecnique/train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [23]:
ana

     BsmtQual FireplaceQu GarageType  SalePrice
0          Gd         NaN     Attchd     208500
1          Gd          TA     Attchd     181500
2          Gd          TA     Attchd     223500
3          TA          Gd     Detchd     140000
4          Gd          TA     Attchd     250000
...       ...         ...        ...        ...
1455       Gd          TA     Attchd     175000
1456       Gd          TA     Attchd     210000
1457       TA          Gd     Attchd     266500
1458       TA         NaN     Attchd     142125
1459       TA         NaN     Attchd     147500

[1460 rows x 4 columns]

In [24]:
def con_nan(ana,variable):
    ana[variable+'newvar']=np.where(ana[variable].isnull(),'Missing',ana[variable])

In [25]:
con_nan(ana,'BsmtQual')
con_nan(ana,'FireplaceQu')
con_nan(ana,'GarageType')

In [26]:
ana.head(10)

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQualnewvar,FireplaceQunewvar,GarageTypenewvar
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd
5,Gd,NaN,Attchd,143000,Gd,Missing,Attchd
6,Ex,Gd,Attchd,307000,Ex,Gd,Attchd
7,Gd,TA,Attchd,200000,Gd,TA,Attchd
8,TA,TA,Detchd,129900,TA,TA,Detchd
9,TA,TA,Attchd,118000,TA,TA,Attchd

In [27]:
# now we can drop the columns after filling the nan boxes 
ana.drop(columns=['BsmtQual','FireplaceQu','GarageType'],axis=1,inplace=True)

In [28]:
ana.head(10)

   SalePrice BsmtQualnewvar FireplaceQunewvar GarageTypenewvar
0     208500             Gd           Missing           Attchd
1     181500             Gd                TA           Attchd
2     223500             Gd                TA           Attchd
3     140000             TA                Gd           Detchd
4     250000             Gd                TA           Attchd
5     143000             Gd           Missing           Attchd
6     307000             Ex                Gd           Attchd
7     200000             Gd                TA           Attchd
8     129900             TA                TA           Detchd
9     118000             TA                TA           Attchd

In [29]:
ana.isnull().sum()

SalePrice            0
BsmtQualnewvar       0
FireplaceQunewvar    0
GarageTypenewvar     0
dtype: int64